# Core functionality - changes here should be rare!
/src/app.py                   @TelmoEspinoza
/src/backend/database.py      @TelmoEspinoza
/src/backend/routers/auth.py  @TelmoEspinoza

# The frontend will need refactored soon to be more object oriented.
/src/static/   @TelmoEspinoza
